* {
    /* border: 1px solid #333; */
}

body {
    background-color: rgb(236, 236, 236);
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.navbar {
    font-size: 1.25rem;
}

.navbar-brand {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.navbar-nav {}


/* Backgroung Img Main Section */

.img {
    background-image: url(../images/main3.png);
    opacity: .88;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.introduction {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-item {
    padding-right: 3%;
}

.introduction h1 {
    /* padding-top: 5rem; */
    font-size: 5rem;
    /* color: rgb(136, 136, 136); */
}

.introduction p {
    margin-bottom: 2rem;
    font-weight: 100;
    font-size: 1.5rem;
}

hr {
    margin: 0;
}

.bi-chat-quote {
    color: rgb(24, 224, 141);
}

.input-btn {
    background-color: rgb(24, 224, 141);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
}

.upload-btn {
    /* background-color: rgb(24, 224, 141); */
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: none;
}


/* upload btn animation */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload {
    --background: #32a852;
    --text-drop: #fff;
    --text-upload: #fff;
    --progress-color: #fff;
    --check-color: var(--text-upload);
    --border-radius: 30px;
    width: 25rem;
    height: 6.25rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background);
    border-radius: var(--border-radius);
    transition: all .3s ease-out;
    box-shadow: var(--shadow-x, 0px) var(--shadow-y, 1px) var(--shadow-blur, 3px) rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(var(--scale, 1));
    transform: scale(var(--scale, 1));
}

.upload .drop-here {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: var(--border-radius);
    opacity: var(--opacity, 0);
    overflow: hidden;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 1;
}

.upload .text {
    position: absolute;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    word-break: break-all;
    /* for large file name */
}

.upload .text.text-drop {
    color: var(--text-drop);
    opacity: var(--opacity, 1);
    transition: opacity .15s ease-out .15s;
}

.upload .text.text-upload {
    color: var(--text-upload);
    opacity: var(--opacity, 0);
    transition: opacity .15s ease-out;
}

.upload .progress-wrapper {
    position: absolute;
}

.upload .progress-wrapper .progress {
    fill: none;
    stroke: var(--progress-color);
    stroke-width: 3;
    stroke-dasharray: 722;
    stroke-dashoffset: 722;
}

.upload .check-wrapper {
    position: absolute;
    opacity: var(--opacity, 0);
    -webkit-transform: scale(var(--scale, 0.9)) rotate(var(--rotate, 3deg));
    transform: scale(var(--scale, 0.9)) rotate(var(--rotate, 3deg));
    transition: opacity .15s ease-in, -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out, opacity .15s ease-in;
    transition: transform .15s ease-in-out, opacity .15s ease-in, -webkit-transform .15s ease-in-out;
}

.upload .check-wrapper .check {
    width: 100px;
    width: 100px;
    fill: none;
    stroke: var(--check-color);
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100 0;
    stroke-dashoffset: 100;
}

.upload .shadow {
    opacity: var(--opacity, 0);
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    -webkit-filter: blur(25px);
    filter: blur(25px);
    z-index: -1;
    transition: all .5s ease;
}

.upload .shadow::before {
    content: '';
    position: absolute;
    top: -25%;
    left: -25%;
    height: 150%;
    width: 150%;
    -webkit-animation: shadow-animate 5s linear infinite;
    animation: shadow-animate 5s linear infinite;
}

.upload.drag {
    --scale: 1.03;
    --shadow-y: 5px;
    --shadow-blur: 20px;
}

.upload.drop .text.text-drop {
    --opacity: 0;
    transition: opacity .15s ease-out;
}

.upload.drop .text.text-upload {
    --opacity: 1;
    transition: opacity .15s ease-out .15s;
}

.upload.drop .shadow {
    --opacity: 1;
}

.upload.drop .progress-wrapper {
    opacity: var(--opacity, 1);
    -webkit-transform: scale(var(--scale, 1)) rotate(var(--rotate, -90deg));
    transform: scale(var(--scale, 1)) rotate(var(--rotate, -90deg));
}

.upload.drop .progress-wrapper .progress {
    -webkit-animation: progress 3s ease .3s forwards;
    animation: progress 3s ease .3s forwards;
}

.upload.done {
    --opacity: 0;
}

.upload.done .text.text-upload {
    --opacity: 0;
}

.upload.done .shadow {
    --opacity: 0;
}

.upload.done .progress-wrapper {
    --scale: .95;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
}

.upload.done .check-wrapper {
    --opacity: 1;
    --scale: 1;
    --rotate: 0deg;
    transition: opacity .5s ease-in .3s, -webkit-transform .5s ease-in-out .3s;
    transition: transform .5s ease-in-out .3s, opacity .5s ease-in .3s;
    transition: transform .5s ease-in-out .3s, opacity .5s ease-in .3s, -webkit-transform .5s ease-in-out .3s;
}

.upload.done .check-wrapper .check {
    -webkit-animation: checkTick .5s ease-in-out .3s forwards;
    animation: checkTick .5s ease-in-out .3s forwards;
}

@keyframes progress {
    0% {
        stroke-dashoffset: 722;
    }
    20% {
        stroke-dashoffset: 500;
    }
    50% {
        stroke-dashoffset: 322;
    }
    55% {
        stroke-dashoffset: 300;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes checkTick {
    0% {
        stroke-dasharray: 0 100;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 100 0;
        stroke-dashoffset: 100;
    }
}


/* Dropdown List */

.dropdown-toggle {
    /* border: 1px solid black!important; */
    margin-right: 1rem;
    color: #fff;
}

.dropdown-toggle:hover {
    color: #fff;
}

.dropdown-submit {}

.fluid {
    display: flex;
    flex-direction: column;
}


/* result section */

.sectionDiv {
    position: relative;
    display: flex;
    margin: 0 !important;
    flex-direction: column;
    align-items: center;
}

section.result {
    align-self: center;
    z-index: 10;
    width: 90%;
    max-height: 100vh;
    position: relative;
    /* background: #fff; */
    /* top:0; */
    /* left:0; */
    margin: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 90px 0 0 0;
    animation: showup 0.5s ease-in-out forwards;
    overflow: hidden;
    border-radius: 10px;
}

@keyframes showup {
    0% {
        max-height: 0;
        padding: 0;
    }
    100% {
        box-shadow: 0 0 10px 3px #fff;
    }
}

section.result.hidden {
    display: none;
}

section.result>div.resultText {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 2em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.leftInput {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    opacity: 0;
    animation: hideshow 0.5s 0.3s linear forwards;
}

@keyframes hideshow {
    100% {
        opacity: 1;
    }
}

.leftInput.remove>.imagePreview {
    width: 0 !important;
    height: 0 !important;
}


/* for unknown reason */

.leftInput.remove {
    padding-bottom: 25px !important;
}

.leftInput>.imagePreview {
    /* background: url("../../static/images/aadhar.jpeg"); */
    width: 100%;
    height: 100px;
    /* border: 1px solid #333; */
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

section.result>div.leftInput>span {
    padding: 3px;
    text-align: center;
}

.rightOutput {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.rightOutput>.searchField {
    position: relative;
    display: flex;
    align-items: center;
}

.rightOutput>.searchField>input.searchText {
    position: relative;
    background: none;
    border: none;
    outline: none;
    border: 1px solid #acacac;
    /* box-shadow: 0 0 2px 1px #acacac inset; */
    background: #ffffff97;
    color: #000;
    width: 300px;
    /* margin: 10px; */
    padding: 7px 10px;
    border-radius: 5px;
    ;
}

.rightOutput>.searchField>span#noOfSearch {
    padding: 0 20px;
    display: flex;
    /* position: absolute; */
    /* top: 50%; */
    /* right: 25px; */
    /* transform: translateY(-50%); */
}

.rightOutput>.copyToClipboard {
    padding: 7px 10px;
    cursor: pointer;
    user-select: none;
    background-color: #333;
    border: 1px solid #00000077;
    color: #fff;
}

.outputResult {
    padding: 20px;
    width: 100%;
    /* background: #ffffff95; */
    background: #333;
    color: #fff;
    max-width: 100%;
    max-height: 100vh;
    overflow: auto;
}

.outputResult>span.mark {
    background-color: #ffff00;
    color: #333;
    padding: 0;
}

#originalData {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.closeResult {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    user-select: none;
    cursor: pointer;
    z-index: 2;
    color: #000;
}


/* about section */

.about-h1 {
    margin-top: -5rem !important;
    margin-bottom: 5rem !important;
}

.about-main .fa {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.fa-p {
    margin-bottom: 3rem !important;
}

.center {
    text-align: center;
}

.jumbotron {
    margin-top: 5rem;
}


/*  team section */

.team {
    margin-bottom: 3rem;
}

.team-heading {
    margin: 3rem 0;
    text-align: center;
}

.page-footer {
    font-size: 1.25rem;
    /* width: 100vw; */
    height: 50px;
    text-align: center;
    padding: 3% 0 4%;
    background-color: rgb(9, 192, 116);
}

.page-footer:hover {
    color: rgb(255, 255, 255);
}


/* #sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(9, 192, 116);
} */

a:hover {
    text-decoration: none;
}

a {
    color: white;
}


/* success page ---------------- */

.col-content h2 {
    margin-top: 50px;
}


/* media queries */

@media only screen and (max-width: 576px) {
    .upload-btn {
        display: block;
        margin: 0 auto 10px;
    }
    .page-footer p {
        margin-bottom: 0;
    }
}